@media (min-width: 600px) {
    body {
        max-width: none;
    }

    header {
        align-items: center;
        height: 110px;
    }

    header nav {
        margin-top: 0;
    }

    header img {
        height: 80px;
    }

    header h2{
        font-size: 30px;
        margin-left: 18px;
    }

    main h1 {
        margin-left: 20px;
    }

    .bg-image {
        display: none;
    }

    .bg-image-large {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -1;
    }

    .navigation {
        display: flex;
        position: static;
        width: auto;
        background: none;
        padding: 0;
        margin-left: 500px;
    }

    .navigation a {
        font-size: 25px;
    }

    .hamburger {
        display: none;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding: 20px;
    }

    .card {
        text-align: left;
    }

    .list-view {
        display: flex;
        flex-direction: column;
    }

    .list-info p {
        font-size: 20px;
    }

    footer {
        font-size: 20px;
    }
}