@media (min-width: 641px) {

    .discover-grid {
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
            "one two"
            "three four"
            "five six"
            "seven eight";
    }

    .card img:hover {
        transform: scale(1.05);
        filter: brightness(1.1);
        transition: .3s;
    }
}