@media (min-width: 600px) {
    body {
        max-width: none;
    }

    header {
        display: flex;
        align-items: center;
        height: 110px;
    }

    header nav {
        margin-top: 0;
    }

    header img {
        height: 80px;
    }

    header h2{
        font-size: 30px;
        margin-left: 18px;
    }

    main h1 {
        margin-left: 20px;
    }

    .navigation {
        display: flex;
        position: static;
        width: auto;
        background: none;
        padding: 0;
        position: absolute;
        top: 4%;
        left: 63%;
    }

    .navigation a {
        color: cyan;
        font-size: 25px;
    }

    .hamburger {
        display: none;
    }

    .hero img {
        width: 90%;
    }

    .hero {
        display: flex;
        justify-content: center;
    }

    .hero-btn {
        font-size: xx-large;
        top: 76.5%;
        left: 20%;
    }

    main h1 {
        margin-left: 70px;
        font-size: 60px;
    }

    .data {
        margin-left: 70px;
        margin-right: 70px;
        display: flex;
        gap: 15px;
        align-items: stretch;
    }

    .event {
        width: 70%;
        max-height: 250px;
        overflow-y: auto;
    }

    .weather, .forecast {
        width: 30%;
        max-height: 250px;
        overflow-y: auto;
    }

    .cards {
        margin-left: 70px;
        margin-right: 70px;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }

    footer {
        display: flex;
        padding-left: 70px;
        gap: 250px;
    }
}